<!DOCTYPE html>
<!-- document html -->
<html>

<!-- metadonnées-->
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>


<!--corps de ma page-->
<body>

    <!--main-->
    <main>

    <!-- formulaire ticket -->
        <form class="ticket" id="Ticket"> <!--style="visibility: collapse;"-->
            <select class="item_num" name="Numéro materiel">
                <option value="lampe">lampe</option>
                <option value="porte">porte</option>
                <option value="poste">poste</option>
            </select>

            <select class="item_num" name="Numéro salle">
                <option value="A">Batiment A</option>
                <option value="B">Batiment B</option>
                <option value="C">Batiment C</option>
            </select>

            <textarea placeholder="Quel est le problème ?" style="width: 280;" class="requete" rows="5" cols="40" ></textarea>
            <button class="item_num" >Envoyer</button>
        </form>

    <!-- bouton help -->

        <button class="bot_button" onclick="myFunction()">
            <img class="bot" src="img/bender.png" alt="helper">
        </button>
    

    <!-- section du gauche -->
        <div class="gauche">
            <img src="img/edt.png" alt="photo_edt">
        </div>

    <!-- section du droite -->	
        <div class="droite">
            <p>Pas de réservation en cours ou à venir</p>
            <button>
                <p>Réserver</p>
            </button>
        </div>

    </main>

    <!--footer avec info sur les droits-->
    <footer>
        <p>AYU - All rights reserved, 2021</p>
    </footer>

    <script src="./scripts/index.js"></script>

</body>

</html>