<!DOCTYPE html>
<!-- document html -->
<html>

<!-- metadonnées-->
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>


<!--corps de ma page-->
<body>

    <!--main-->
    <main>

    <!-- formulaire ticket -->
        <form class="ticket" style="visibility: collapse;">
            <select class="materiel_num" name="Numéro materiel">
                <option value="lampe">lampe</option>
                <option value="porte">porte</option>
                <option value="poste">poste</option>
            </select>

            <select class="salle_num" name="Numéro salle">
                <option value="A">Batiment A</option>
                <option value="B">Batiment B</option>
                <option value="C">Batiment C</option>
            </select>

            <textarea placeholder="Quel est le problème ?" style="width: 280;"></textarea>
            <button>Envoyer</button>
        </form>
    

    <!-- section du gauche -->
        <div class="gauche">
            <img src="img/edt.png" alt="photo_edt">
        </div>

    <!-- section du droite -->	
        <div class="droite">
            <p>Pas de réservation en cours ou à venir</p>
            <button>
                <p>Réserver</p>
            </button>
        </div>

    </main>

    <!--footer avec info sur les droits-->
    <footer>
        <p>AYU - All rights reserved, 2021</p>
    </footer>

</body>

</html>