
.app{
  padding:20px;
}
.app h3 {
  grid-row: 1;
  place-self: center;
  font-weight: bold;
  font-size: 50px !important;
}
.reservation {
  width: 100%;
  padding: 20px;
  grid-row: 2;
  justify-self: stretch;
  text-align: center;
  background: #252531;
  border-radius: 10px;
  overflow: auto;
}


.addReservation {
  all: unset;
  display: block;
  margin: auto;
  text-align: center;
  justify-self: center;
  width: 110px;
  height: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  background-color: #3f4ae4;
  grid-row: 3;
  border-radius: 15px;
}


@media screen and (max-width: 700px) {
  .app h3{
    font-size:40px !important;
  }
  .app{
    padding: 25px;
  }
}
