body {
  min-height: 100vh;
  font-family: "roboto", sans-serif !important;
  font-size: 20px !important;
  display: grid;
  grid-template-columns: [first] 15% [end];
  background: rgb(103,10,153);
  background: linear-gradient(142deg, rgba(103,10,153,1) 0%, rgba(160,28,230,1) 43%, rgba(255,0,237,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  grid-column: 1/2;
  display: grid;
  grid-template-rows: [fisrt] 25% [end];
}

nav img {
  margin: 10px 15px;
  grid-column: 1/2;
  grid-row: 1/2;

}
nav ul {
  place-self: start stretch;
  grid-column: 1 ;
  grid-row: 2/2;
  background-color: #fff;
}
main{
  display:grid;
  grid-template-rows:[first] 20% [end];
  grid-column: 2/2;
}

.head{
  grid-row:1/1;
}
.app{
  padding: 10px;
  display:grid;
  grid-template-rows:[first] 30% [end];
  grid-template-columns:[first] 40% [end];
  column-gap: 10px;
  row-gap: 15px;
  grid-row:2/2;
}
.profile{
  display: flex;
  grid-row:1/2;
  grid-column: 1/2;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.reservation{
  border-radius: 5px;
  background-color: #fff;
  grid-row:1/span 2;
  grid-column: 2/2;
}

.inprogress{
  background-color: #fff;
}
.description{

}
