.app{
  grid-template-rows: 10% auto;
  
}
body {
    min-height: 100vh;
    background: #191a21 !important;
    font-size: 20px !important;
    display: grid;
    color: #fff !important;
}
main {
    min-height: 60%;
}
