:root {
 --bg-main:#191a21;
 --bg-submain:#252531;
 --bg-button:#3f4ae4;
 --bg-surround:#e1ab4f;
}

body {
  min-height: 100vh;
  background: var(--bg-main) !important;
  font-size: 20px !important;
  display: grid;
  grid-template-columns: [first] 15% [end];
  color: #fff !important;

}

.navBar {
  display: grid;
  grid-template-rows: 8% auto 10%;
  grid-column: 1;
}

#ham{
  position: absolute;
  top:10px;
  left:10px;
}
.profile {
  margin-top: 10px;
  display: flex;
  grid-row: 1;
  overflow: hidden;
  border-bottom: solid var(--bg-submain) 2px;
}
.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.username {
  margin-top: 15px;
  margin-left: 20px;
  font-weight: bold;
}
.navBar ul {
  grid-row: 2;
  place-self: center;
}
.navBar ul li {
  all: unset;
  font-weight: bold;
  font-size: 25px;
  display: block;
  text-align: center;
}

.logout {
  margin: auto;
  align-self: center;
  all: unset;
  text-align: center;
  justify-self: center;
  width: 110px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  background-color: var( --bg-button);
  grid-row: 3;
  border-radius: 15px;
}

.app {
  display: grid;
  grid-template-rows: 50% auto;
  grid-column: 2/2;
  margin-bottom: 10px;
  overflow: auto;
}

.selected {
  border-bottom: solid var(--bg-surround) 5px !important;
  border-radius: 5px !important;
}

a{
  text-decoration: none;
  color:#fff;
}

.hidden{
  display: none;
}

@media screen and (max-width: 1400px) {
  body {
    grid-template-columns: 25% 70%;
  }
}
@media screen and (max-width: 700px) {
  nav {
    width: 0;
    overflow: hidden;
  }
  .app h3{
    font-size:40px !important;
  }
  .app{
    padding: 25px;
  }
  body {
    grid-template-columns: min-content 100%;
  }
}
