body *{
  font-family: "Roboto" sans-serif;
  font-weight: bold;
}
main{
  text-align: center;
}
main h2{
  margin-top: 100px;
  margin-bottom: 50px;    
}

.btn-primary{
  background-color: #8800ff !important;
  border-color: #8800ff !important;
}
form{
  border: solid 3px #8800ff;
  /*box-shadow:2px 2px  20px 2px gray ;*/
  border-radius: 10px;
  width:25%;
  margin :auto; 
  padding: 20px;
}
@media screen and (max-width: 800px) {
  form{
    width: 70%;
  }
  
}
@media screen and (max-width: 500px) {
  form{
    width: 100%;
  }
  
}


